@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;

  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
  }

  #app {
    display: flex;
    row-gap: 2rem;
    justify-items: center;
    flex-direction: column;
  }
}

main {
  display: flex;
  flex-direction: row;
  gap: 5%;
  padding: 5%;
  place-self: center;
  background: linear-gradient(#141414b9, #1414144e);
}
